<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Mayorio - Comprar - Prinicipal</title>
		<link rel="stylesheet" href="reset.css">
<!-- 
		<link rel="stylesheet/less" type="text/css" href="comprar_main01.less">
		<script src="less-1.2.1.min.js"></script>
-->
		<link rel="stylesheet" href="comprar_main01.css">
	</head>
	<body>
		<header>
			<h1>Mayorio</h1>
		</header>
		<div id="left">
			<section id="purchase">
				Configuraci&oacute;n de compras
			</section>
			<section id="distribution">
				Distribuci&oacute;n de l&iacute;neas
			</section>
		</div>
		<div id="right">
			<section id="promotions">
				Promociones disponibles
			</section>
			<section id="distro_summ">
				Resumen de distribuci&oacute;n
			</section>
			<section id="financials">
				Resumen de informaci&oacute;n financiera
			</section>
			<section id="points">
				Resumen de puntos
			</section>
		</div>
		<footer>
			&copy; Mayorio, 2012
		</footer>
	</body>
</html>