<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Mayorio - Comprar - Prinicipal</title>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/start/jquery-ui-1.8.18.custom.css">
		<link rel="stylesheet/less" type="text/css" href="css/comprar_main01.less">
		<script src="less-1.2.1.min.js"></script>
<!--
		<link rel="stylesheet" href="css/comprar_main01.css">
-->
	</head>
	<body>
		<header>
			<h1>Mayorio</h1>
		</header>
		<div id="left">
			<section id="purchase">
				Configuraci&oacute;n de compras
			</section>
			<section id="distribution">
				Distribuci&oacute;n de l&iacute;neas
			</section>
		</div>
		<div id="right">
			<section id="promotions">
				Promociones disponibles
			</section>
			<section id="distro_summ">
				Resumen de distribuci&oacute;n
			</section>
			<section id="financials">
				Resumen de informaci&oacute;n financiera
			</section>
			<div id="points">
				<ul>
					<li><a href="#tabs-1">PUNTOS</a></li>
					<li><a href="#tabs-2">CANJEE</a></li>
					<li><a href="#tabs-3">PIERDE</a></li>
				</ul>
				<div id="tabs-1">
					<dl>
						<dt>Nuevos Puntos!</dt>
						<dd>1475</dd>
						<dt>Puntos Acumulados</dt>
						<dd>74256</dd>
					</dl>
				</div>
				<div id="tabs-2">
					<div class="pointheader">Canjee sus 72456 puntos:</div>
					<div class="pointlist">
						<div class="pointlistitem">Bono de descuento por S/.500 - 5000 ptos</div>
						<div class="pointlistitem">Bicicleta Monark 475 Monta&ntilde;a - 7000 ptos</div>
						<div class="pointlistitem">XBOX 360 con 3 juegos originales - 7000 ptos</div>
					</div>
				</div>
				<div id="tabs-3">
					<div class="pointheader">Mire las ofertas que est&aacute; perdiendo:</div>
					<div class="pointlist">
						<div class="pointlistitem">Bono de descuento por S/.1000 - 10000 ptos</div>
						<div class="pointlistitem">Motocicleta Honda 9992 Monta&ntilde;a - 70000 ptos</div>
						<div class="pointlistitem">Televisor Plasma 42 pulgadas LG - 70000 ptos</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			&copy; Mayorio, 2012
		</footer>
		<script src="jquery-1.7.1.min.js"></script>
		<script src="jquery-ui-1.8.18.custom.min.js"></script>
		<script>
			(function($) {
				$("#points").tabs();

				$(".ui-tabs-panel dl dd:first").addClass('top-right-round');
				$(".ui-tabs-panel dl dt:first").addClass('top-left-round');
				$(".ui-tabs-panel dl dd:last").addClass('bottom-right-round');
				$(".ui-tabs-panel dl dt:last").addClass('bottom-left-round');
			})(jQuery);
		</script>
	</body>
</html>