<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Mayorio - Comprar - Prinicipal</title>
		<link rel="stylesheet/less" type="text/css" href="comprar_main01.less">
		<script src="less-1.2.1.min.js"></script>
	</head>
	<body>
		<header>
			Mayorio
		</header>
		<div id="main">
			<section id="purchase">
				Configuraci&oacute;n de compras
			</section>
			<section id="distribution">
				Distribuci&oacute;n de l&iacute;neas
			</section>
			<section id="deals">
				Usar los puntos o perderlos
			</section>
			<section id="financials">
				Resumen de informaci&oacute;n financiera
			</section>
			<section id="points">
				Resumen de puntos
			</section>
			<section id="promotions">
				Promociones disponibles
			</section>
		</div>
		<footer>
			&copy; Mayorio, 2012
		</footer>
	</body>
</html>